<div class="product-list row px-3">

  <div *ngFor="let product of products" class="product card col-sm-12 col-md-6 col-lg-3 px-1 mr-2 mb-2">
    <div class="card-body">
      <section class="card-title">
        <small class="badge badge-pill badge-secondary float-right">{{product.id}}</small>
        <h3>{{ product.name }}</h3>
      </section>
      <section class="content card-text clearfix">
       <div class="price">
          <span>Price: </span><strong>{{product.price}}¤</strong>
        </div>
        <div class="vendor">
          <strong>{{product.vendor}}</strong>
        </div>
        <div class="category">
          <span class="badge badge-dark">{{product.category | uppercase}}</span>
        </div>
      </section>
      <hr>
      <a routerLink="/product/{{product.id}}" class="btn btn-success px-3 mr-2">Edit</a>
    </div>
  </div>

  <div class="product card col-sm-12 col-md-6 col-lg-3 px-1 mr-2 mb-2">
    <div class="card-body">
      <section class="card-text">
        <input #productName class="form-control mb-1" placeholder="Name"/>
        <input #productPrice class="form-control mb-1" placeholder="Price"/>
        <input #productVendor class="form-control mb-1" placeholder="Vendor"/>
        <select #productCategory class="custom-select mb-4">
          <option selected>Category&hellip;</option>
          <option value="spice">Spice</option>
          <option value="food">Food</option>
          <option value="fuel">Fuel</option>
          <option value="cosmetics">Cosmetics</option>
          <option value="juices">Juices</option>
          <option value="confectionery">Confectionery</option>
          <option value="ice-cream">Ice-cream</option>
          <option value="coffee">Coffee</option>
        </select>
      </section>
      <button type="button" class="btn btn-primary px-2" (click)="add(productName.value, productPrice.value, productVendor.value, productCategory.value); productName.value=''; productPrice.value=''; productVendor.value=''; productCategory.value='';">Add new</button>
    </div>
  </div>

</div>